<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browserTest" value="chrome"/>
    <test name="BasicAssignment">
        <classes>
<!--            <class name="com.vmo.training.demo.test.assignment1.BursamalaysiaTest"/>-->
<!--            <class name="com.vmo.training.demo.test.assignment1.EcommerceTest"/>-->
            <class name="com.vmo.training.demo.test.assignment2a.FlowTest"/>
        </classes>
    </test>
</suite>